body {
  color: #c6d4df;
  background-color: #1b2838;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.review {
  border-bottom: 1px solid #363f4c;
  padding: 5px;
  font-size: 13px;
}

.reviewContainer {
  background-color: #18222f;
  padding: 10px;
  margin: 10px;
}

.helpful {
  color: #647580;
  padding: 5px;
}

.date {
  color: #647580;
  padding: 5px;
  font-size: 10px;
}

.recommended1{
  background-color: #0a0e14;
}

.buttonYes, .buttonNo, .buttonFunny {
  border: 0px;
  background-color: #222d3d;
  margin-left: 5px;
  color: #66c0f4;
  border-radius: 2px;
}

.buttonYes:hover, .buttonNo:hover, .ButtonFunny:hover {
  border: 0px;
  background-color: deepskyblue;
  margin-left: 5px;
  color: white;
}

.buttonYes:focus, .buttonNo:focus, .ButtonFunny:focus {
  outline: none;
}

.userInfoContainer {
  display: flex;
}

.userLeft {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  color: #7c90a5;
  width: 40%;
}

.userInfo {
  display: flex;
  flex-direction: row;
}

.nameAndGames {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5px;
}

.username {
  font-size: 13px;
}

.profilePicture {
  height: 36px;
  width: 36px;
}

.userRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  width: 100%;
  background-color: #111a25;
}

.recommended0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  background: url('/images/thumbsDown.png') no-repeat;
  padding-left: 45px;
  height: 40px;
}

.recommended1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  background: url('/images/thumbsUp.png') no-repeat;
  padding-left: 45px;
  height: 40px;
}

.hoursPlayed {
  font-size: 11px;
  color: #4f5c6b;
}